<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
            <div className="holder">
                <img src="/images/logo.png" width="100" alt="Transportes X"/>
                <h1>Transporte X</h1>
            </div>
        </header>
    {{{body}}}
    <footer>
       <p>Derechos reservados. Transporte X 2024</p>
    </footer>
  </body>
</html>
